{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block content %}
 

<div class="columns is-mobile">
  <div class="column is-half is-offset-one-quarter">

    <div class="card">
    <div class="card-content">
    <form method="post" enctype="multipart/form-data" action="" role="form">
      {% csrf_token %}
    <h3 class="title is-3" style="font-size: large; color: blue; text-align: center;">Add</h3>

         
          <div class="field">
              <label class="label is-medium" style="font-size: small; color: black;">Title</label>
              <div class="control">
                {{ form.title }}
              </div>
          </div>

          <div class="field">
              <label class="label is-medium" style="font-size: small; color: black;">Description</label>
              <div class="control">
                {{ form.description }}
              </div>
          </div>

          <div class="field">
              <label class="label is-medium" style="font-size: small; color: black;">Category</label>
              <div class="control">
                {{ form.category }}
              </div>
          </div>

          
    <div class="form-group">
                <button style="background-color: blue; width: 100px; color: white;"class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
  </div>
</div>

  </div>
</div>
     
{% endblock content %}
