 <!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav  style="height: 20px;" class="navbar navbar-primary">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{% url 'index' %}">Library</a>
    </div>
  </div>
  <!--The search form above-->
  <div class="col-sm-6 col-md-6">
    {% if user.is_authenticated %}
    <ul>
      <li style=" margin-left: 189%; height: 50px; margin-top: -8%;" class="dropdown">
        <a href="#" class="dropdown-toggle btn btn-info" data-toggle="dropdown" role="button" aria-expanded="false">Account
                  <span class="caret"></span>
              </a>
        <ul class="dropdown-menu" role="menu">
          <li>
            <a href="admin">AdminLogin</a>
          </li>
          <li>
            <a href="{% url 'profile' user.username %}">Update Profile</a>
          </li>
          <li>
            <a href="{% url 'add' %}">Add</a>
          </li>
          <li>
            <a href="{% url 'logout' %}">Logout</a>
          </li>
        </ul>
      </li>
    </ul>
    {% else %}
    <li>
      <a class='btn btn-default' href="login">Login</a>
    </li>

    {% endif %}
  </div>
</nav>

</body>
</html>
