{%extends 'base.html'%}
{% block content %}
<div class="container">

    <div class="row">
        {% if books %}
        <h2>Found {{ books|length }} of {{message}} Category.</h2>
        {% else %}
        <h2> Found 0 images, {{message}} Category</h2>
        {% endif %}


        <div class="card-columns">
            {% for books in books %}

            <!--Display searched images  -->
            
            <div class="modal fade " id="{{image.id}}" tabindex="-1" role="dialog"
                aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-md" role="document">
                    <div class="modal-content modalcard">
                        <div class="modal-header">
                            <h5 class="modal-title" id="imageheader">{{books.title}}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body card3">
                            <img src="{{books.image}}" alt="{{books.name}}" class="img-fluid">
                            <p>{{ books.name|title }}</p>
                            <p>{{ books.description }}</p>
                            <p>{{ books.pub_date }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
            <div class="row">
                <h2 class="text-center">There No Books For Searched Category</h2>
            </div>
            {% endfor %}

        </div>
    </div>
</div>


{% endblock %}